$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?71dc73c0e5cca214ca9a7aff692bbdaa") format("truetype"),
url("./flaticon.woff?71dc73c0e5cca214ca9a7aff692bbdaa") format("woff"),
url("./flaticon.woff2?71dc73c0e5cca214ca9a7aff692bbdaa") format("woff2"),
url("./flaticon.eot?71dc73c0e5cca214ca9a7aff692bbdaa#iefix") format("embedded-opentype"),
url("./flaticon.svg?71dc73c0e5cca214ca9a7aff692bbdaa#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "facebook": "\f101",
    "instagram": "\f102",
    "phone-call": "\f103",
    "clock": "\f104",
    "facebook-1": "\f105",
    "whatsapp": "\f106",
    "menu": "\f107",
    "telegram": "\f108",
    "telegram-1": "\f109",
);

.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-facebook-1:before {
    content: map-get($flaticon-map, "facebook-1");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-telegram:before {
    content: map-get($flaticon-map, "telegram");
}
.flaticon-telegram-1:before {
    content: map-get($flaticon-map, "telegram-1");
}
